* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 100%;
  max-width: 1200px;
  /* Ajuste conforme necessário */
  margin: 0 auto;
  padding: 0 15px;
  /* Ajuste conforme necessário */
  box-sizing: border-box;
}

h1 {
  color: #7E0001;
  font-size: 36px;
}

p {
  font-family: Arial;
  font-weight: bolder;
  color: #8c8b8b;
  font-size: 18px;
  margin-bottom: 30px;
}

.icons {
  font-size: 48px;
  margin-bottom: 30px;
}

/* header início */
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100%;
  padding: 10px 20px; /* substitui a altura fixa */
  z-index: 1000;
}


.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10%;
}

.logo>a {
  margin-left: -17%;
  text-decoration: none;
  /* remover o sublinhado do link */
}

.logo__nome {
  text-align: start;
  color: #7E0001;
  font-size: 2rem;
  letter-spacing: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

.logo__nome:hover {
  cursor: default
}

.escudo {
  width: 40px;
  height: 40px;
  vertical-align: text-top;
}

.logo__slogan {
  text-align: center;
  color: #666;
  font-size: 1.30rem;
  letter-spacing: 2px;
  cursor: default;
}

nav {
  margin-right: 2%;
}

nav>ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav>ul>li>a {
  font-size: 1.25rem;
  padding: 15px;
  color: #7E0001;
  text-decoration: none;
  transition: 0.5s;
  /* cria um efeito de 0.5 segundos */
}

nav>ul>li>a:hover {
  color: #666;
}

/* header end */

.bodyText {
  font-family: Arial;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  /* Adicionado para espaçamento */
}

.bodyTitle {
  font-family: Arial;
  color: #7E0001;
  font-size: 22px;
  /* Adicionado para ajuste do título */
  margin-bottom: 20px;
  /* Adicionado para espaçamento */
}

.bodyServices {
  display: flex;
  flex-direction: column; /* fica em coluna */
  gap: 20px; /* espaçamento entre cada serviço */
}

.service-item {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.service-item img {
  width: 200px; 
  height: auto;
  border-radius: 8px;
  border: 3px solid #7E0001;
}

.service-item p {
  font-size: 1rem;
  color: #333;
  max-width: 600px;
}


.aboutTitle {
  margin-top: 50px;
  font-family: Arial;
  color: #7E0001;
  font-size: 22px;
  margin-bottom: -20px;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#hero {
  padding-top: 120px;
}
