  body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;
            padding: 50px 20px;
        }
        h1 {
            color: #7E0001; 
            font-size: 36px;
        }
        p {
            font-family: Arial;
            color: #666;
            font-size: 18px;
            margin-bottom: 30px;
        }
        .icons {
            font-size: 48px;
            margin-bottom: 30px;
        }  
        header {
            background-color: black;
        }
        .logo {
            width: 40px;
            height: 40px;
            vertical-align: text-top;
        }